<html>
<head>
    <title>Check {{ lang.siteName }}</title>
</head>
<body>
{% if response.error %}
    <h1 style="color:red">{{ response.error }}</h1>
{% elseif response.message %}
    <p>{{ response.message }}</p><br>
    <p>{{ lang.correctAre }}: </p>
    <ul>
        {% for correct in response.correct %}
            <li>{{ correct.name }} {% if showCorrectDistances %}({{ correct.distance }}m){% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>
