<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style type="text/css">
        .leaflet-container.crosshair-cursor-enabled {
            cursor:crosshair;
        }
    </style>

</head>
<body>
<div id="map" style="height: 100%"></div>
<!-- List -->
<div class="modal fade" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="positionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="positionModalLabel">{{ lang.positions }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    {% for position in positionOptions %}
                        <a href="#" class="list-group-item list-group-item-action" onclick="setEdit({{ position.id }});$('#positionModal').modal('hide')">
                            {% if position.image %}
                                <img style="width: 100%;padding-bottom: 5px;" src="/image/{{ position.image }}" alt="{{ position.name }}">
                            {% endif %}
                            {{ position.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang.cancel }}</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/map.js"></script>
<script>
    // Lang Stuff
    document.lang = {};
    document.lang.changePosition = "{{ lang.changePosition }}";
    // Create Map
    document.map = L.map('map').setView([{{ startLat }}, {{ startLong }}], {{ startZoom }});
    {% for layer in mapLayers %}
    L.tileLayer('{{ layer.url }}', {
        'attribution':  'Map data &copy; {{ layer.attribution }}',
        'useCache': true
    }).addTo(document.map);
    {% endfor %}
    // Add buttons to map
    L.easyButton('<img style="padding-top: 0.2rem;" src="https://api.iconify.design/mdi:map-marker-plus.svg">', function(btn, map){
        $('#positionModal').modal('show')
    }).addTo( document.map );
    L.easyButton('<img style="padding-top: 0.2rem;" src="https://api.iconify.design/ant-design:check-circle-outlined.svg?height=16">', function(btn, map){
        window.open("/check", "_blank")
    }).addTo( document.map );
    // Load marker stuff
    document.markers = [];
    document.map.on('click', mapClick)
    reloadMarkers(JSON.parse('{{ currentPositions }}'));
    // Set change if exists
    if (location.hash && location.hash !== "" && location.hash !== "#"){
        setEdit(parseInt(location.hash.substr(1)))
    }
</script>
</body>
</html>
